.box{
    height: 400px;
    width: 600px;
    background-color: rgb(175, 160, 172);
   margin: 30px;
   /*position: relative;*/

}
.box div{
    display: inline-block;
}

#div1{
    height: 100px;
    width: 100px;
    background-color: rgb(255, 0, 13);
    border-radius: 50%;
   /* position: static;
    top: 100px;
    left: 200px;*/
}

#div2{
    height: 100px;
    width: 100px;
    background-color: rgb(0, 255, 128);
    border-radius: 50%;
 /* position: relative;
  left: 20px;
  top: 50px;*/
}

#div3{
    height: 100px;
    width: 100px;
    background-color: rgb(229, 255, 0);
    border-radius: 50%;
    position: absolute;
    top: 10px;
    

}

#div4{
    height: 100px;
    width: 100px;
    background-color: rgb(153, 0, 255);
    
  

}
